## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
R=len(app_train.index)
C=len(app_train.columns)
print("Rows:{:<2}\nColumns:{:<2}".format(R,C))

Rows:307511
Columns:122

#### 列出所有欄位

In [5]:
i=1
for Iteam in app_train.columns:
    print("{:<3} {}".format(i,Iteam))
    i+=1

1   SK_ID_CURR
2   TARGET
3   NAME_CONTRACT_TYPE
4   CODE_GENDER
5   FLAG_OWN_CAR
6   FLAG_OWN_REALTY
7   CNT_CHILDREN
8   AMT_INCOME_TOTAL
9   AMT_CREDIT
10  AMT_ANNUITY
11  AMT_GOODS_PRICE
12  NAME_TYPE_SUITE
13  NAME_INCOME_TYPE
14  NAME_EDUCATION_TYPE
15  NAME_FAMILY_STATUS
16  NAME_HOUSING_TYPE
17  REGION_POPULATION_RELATIVE
18  DAYS_BIRTH
19  DAYS_EMPLOYED
20  DAYS_REGISTRATION
21  DAYS_ID_PUBLISH
22  OWN_CAR_AGE
23  FLAG_MOBIL
24  FLAG_EMP_PHONE
25  FLAG_WORK_PHONE
26  FLAG_CONT_MOBILE
27  FLAG_PHONE
28  FLAG_EMAIL
29  OCCUPATION_TYPE
30  CNT_FAM_MEMBERS
31  REGION_RATING_CLIENT
32  REGION_RATING_CLIENT_W_CITY
33  WEEKDAY_APPR_PROCESS_START
34  HOUR_APPR_PROCESS_START
35  REG_REGION_NOT_LIVE_REGION
36  REG_REGION_NOT_WORK_REGION
37  LIVE_REGION_NOT_WORK_REGION
38  REG_CITY_NOT_LIVE_CITY
39  REG_CITY_NOT_WORK_CITY
40  LIVE_CITY_NOT_WORK_CITY
41  ORGANIZATION_TYPE
42  EXT_SOURCE_1
43  EXT_SOURCE_2
44  EXT_SOURCE_3
45  APARTMENTS_AVG
46  BASEMENTAREA_AVG
47  YEARS_BEGINEXPLUATATION_AVG
48  YEARS_BUILD_AVG
49  COMMONAREA_AVG
50  ELEVATORS_AVG
51  ENTRANCES_AVG
52  FLOORSMAX_AVG
53  FLOORSMIN_AVG
54  LANDAREA_AVG
55  LIVINGAPARTMENTS_AVG
56  LIVINGAREA_AVG
57  NONLIVINGAPARTMENTS_AVG
58  NONLIVINGAREA_AVG
59  APARTMENTS_MODE
60  BASEMENTAREA_MODE
61  YEARS_BEGINEXPLUATATION_MODE
62  YEARS_BUILD_MODE
63  COMMONAREA_MODE
64  ELEVATORS_MODE
65  ENTRANCES_MODE
66  FLOORSMAX_MODE
67  FLOORSMIN_MODE
68  LANDAREA_MODE
69  LIVINGAPARTMENTS_MODE
70  LIVINGAREA_MODE
71  NONLIVINGAPARTMENTS_MODE
72  NONLIVINGAREA_MODE
73  APARTMENTS_MEDI
74  BASEMENTAREA_MEDI
75  YEARS_BEGINEXPLUATATION_MEDI
76  YEARS_BUILD_MEDI
77  COMMONAREA_MEDI
78  ELEVATORS_MEDI
79  ENTRANCES_MEDI
80  FLOORSMAX_MEDI
81  FLOORSMIN_MEDI
82  LANDAREA_MEDI
83  LIVINGAPARTMENTS_MEDI
84  LIVINGAREA_MEDI
85  NONLIVINGAPARTMENTS_MEDI
86  NONLIVINGAREA_MEDI
87  FONDKAPREMONT_MODE
88  HOUSETYPE_MODE
89  TOTALAREA_MODE
90  WALLSMATERIAL_MODE
91  EMERGENCYSTATE_MODE
92  OBS_30_CNT_SOCIAL_CIRCLE
93  DEF_30_CNT_SOCIAL_CIRCLE
94  OBS_60_CNT_SOCIAL_CIRCLE
95  DEF_60_CNT_SOCIAL_CIRCLE
96  DAYS_LAST_PHONE_CHANGE
97  FLAG_DOCUMENT_2
98  FLAG_DOCUMENT_3
99  FLAG_DOCUMENT_4
100 FLAG_DOCUMENT_5
101 FLAG_DOCUMENT_6
102 FLAG_DOCUMENT_7
103 FLAG_DOCUMENT_8
104 FLAG_DOCUMENT_9
105 FLAG_DOCUMENT_10
106 FLAG_DOCUMENT_11
107 FLAG_DOCUMENT_12
108 FLAG_DOCUMENT_13
109 FLAG_DOCUMENT_14
110 FLAG_DOCUMENT_15
111 FLAG_DOCUMENT_16
112 FLAG_DOCUMENT_17
113 FLAG_DOCUMENT_18
114 FLAG_DOCUMENT_19
115 FLAG_DOCUMENT_20
116 FLAG_DOCUMENT_21
117 AMT_REQ_CREDIT_BUREAU_HOUR
118 AMT_REQ_CREDIT_BUREAU_DAY
119 AMT_REQ_CREDIT_BUREAU_WEEK
120 AMT_REQ_CREDIT_BUREAU_MON
121 AMT_REQ_CREDIT_BUREAU_QRT
122 AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [6]:
from pandas import Series, DataFrame
df = DataFrame(app_train,columns=app_train.columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 267.5+ MB

In [7]:
#前五筆資料
dfh = df.head() #預設為5，也可以自行設定數字
print(dfh)

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0
3             ...                             0                0
4             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0
3                0                0                        NaN
4                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       NaN                         NaN
4                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0
3                         NaN
4                         0.0

[5 rows x 122 columns]

In [8]:
#後五筆資料
dft = df.tail() #預設為5，也可以自行設定數字
print(dft)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
307506      27558.0             ...                             0
307507      12001.5             ...                             0
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
307506                0                0                0
307507                0                0                0
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
307506                        NaN                       NaN
307507                        NaN                       NaN
307508                        1.0                       0.0
307509                        0.0                       0.0
307510                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[5 rows x 122 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [9]:
#各類統計資訊
dfs = df.describe()
print(dfs)

          SK_ID_CURR         TARGET   CNT_CHILDREN  AMT_INCOME_TOTAL  \
count  307511.000000  307511.000000  307511.000000      3.075110e+05
mean   278180.518577       0.080729       0.417052      1.687979e+05
std    102790.175348       0.272419       0.722121      2.371231e+05
min    100002.000000       0.000000       0.000000      2.565000e+04
25%    189145.500000       0.000000       0.000000      1.125000e+05
50%    278202.000000       0.000000       0.000000      1.471500e+05
75%    367142.500000       0.000000       1.000000      2.025000e+05
max    456255.000000       1.000000      19.000000      1.170000e+08

         AMT_CREDIT    AMT_ANNUITY  AMT_GOODS_PRICE  \
count  3.075110e+05  307499.000000     3.072330e+05
mean   5.990260e+05   27108.573909     5.383962e+05
std    4.024908e+05   14493.737315     3.694465e+05
min    4.500000e+04    1615.500000     4.050000e+04
25%    2.700000e+05   16524.000000     2.385000e+05
50%    5.135310e+05   24903.000000     4.500000e+05
75%    8.086500e+05   34596.000000     6.795000e+05
max    4.050000e+06  258025.500000     4.050000e+06

       REGION_POPULATION_RELATIVE     DAYS_BIRTH  DAYS_EMPLOYED  \
count               307511.000000  307511.000000  307511.000000
mean                     0.020868  -16036.995067   63815.045904
std                      0.013831    4363.988632  141275.766519
min                      0.000290  -25229.000000  -17912.000000
25%                      0.010006  -19682.000000   -2760.000000
50%                      0.018850  -15750.000000   -1213.000000
75%                      0.028663  -12413.000000    -289.000000
max                      0.072508   -7489.000000  365243.000000

                  ...              FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
count             ...                 307511.000000     307511.000000
mean              ...                      0.008130          0.000595
std               ...                      0.089798          0.024387
min               ...                      0.000000          0.000000
25%               ...                      0.000000          0.000000
50%               ...                      0.000000          0.000000
75%               ...                      0.000000          0.000000
max               ...                      1.000000          1.000000

       FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
count     307511.000000     307511.000000               265992.000000
mean           0.000507          0.000335                    0.006402
std            0.022518          0.018299                    0.083849
min            0.000000          0.000000                    0.000000
25%            0.000000          0.000000                    0.000000
50%            0.000000          0.000000                    0.000000
75%            0.000000          0.000000                    0.000000
max            1.000000          1.000000                    4.000000

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
count              265992.000000               265992.000000
mean                    0.007000                    0.034362
std                     0.110757                    0.204685
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     9.000000                    8.000000

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count              265992.000000              265992.000000
mean                    0.267395                   0.265474
std                     0.916002                   0.794056
min                     0.000000                   0.000000
25%                     0.000000                   0.000000
50%                     0.000000                   0.000000
75%                     0.000000                   0.000000
max                    27.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_YEAR
count               265992.000000
mean                     1.899974
std                      1.869295
min                      0.000000
25%                      0.000000
50%                      1.000000
75%                      3.000000
max                     25.000000

[8 rows x 106 columns]

In [10]:
#僅顯示前10列，第三至第十欄的資訊
top_left_corner_df = df.iloc[:10, 3:10]
print(top_left_corner_df)

  CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  \
0           M            N               Y             0          202500.0
1           F            N               N             0          270000.0
2           M            Y               Y             0           67500.0
3           F            N               Y             0          135000.0
4           M            N               Y             0          121500.0
5           M            N               Y             0           99000.0
6           F            Y               Y             1          171000.0
7           M            Y               Y             0          360000.0
8           F            N               Y             0          112500.0
9           M            N               Y             0          135000.0

   AMT_CREDIT  AMT_ANNUITY
0    406597.5      24700.5
1   1293502.5      35698.5
2    135000.0       6750.0
3    312682.5      29686.5
4    513000.0      21865.5
5    490495.5      27517.5
6   1560726.0      41301.0
7   1530000.0      42075.0
8   1019610.0      33826.5
9    405000.0      20250.0

In [11]:
#欄列置換
Odf = df.iloc[:3, :7]
print(Odf)
print("-"*50)

dfT = Odf.T 
print(dfT)

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y

  FLAG_OWN_REALTY  CNT_CHILDREN
0               Y             0
1               N             0
2               Y             0
--------------------------------------------------
                             0           1                2
SK_ID_CURR              100002      100003           100004
TARGET                       1           0                0
NAME_CONTRACT_TYPE  Cash loans  Cash loans  Revolving loans
CODE_GENDER                  M           F                M
FLAG_OWN_CAR                 N           N                Y
FLAG_OWN_REALTY              Y           N                Y
CNT_CHILDREN                 0           0                0